body {
    text-align: center;
}


/* background image for the store brand name */
.img-bg {
    height: 550px;
    background:
            url('../img/milkbg.jpg')   	/* image */
            center center / cover 		/* position / size */
            no-repeat                	/* repeat */
            content-box ;             	/* clip */
    display: flex;
    align-items: center;
}


/* store brand name semitransparent background */
div.brand {
    margin: 0 auto;
    padding: 5%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}


/* store brand name */
.brand h1 {
    color: white;
    font-size: 7em;
}


/* store slogan */
.brand p {
    color: white;
    font-size: 2em;
    font-weight: 300;
}


/* container for cookie img, name and description */
div.cookies {
    padding: 15px;
}


/* name of a cookie */
.cookies h3 {
    font-size: 1.8em;
}


.cookies p {
    font-size: 1.2em;
}

/* picture of a cookie */
.cookies img {
    border-radius: 50%;
    max-height: 180px;
}

/* red icon NEW */
.new h3::after {
    content: "NEW";
    font-size: 0.8em;
    color: white;
    background-color: red;
    border-radius: 4px;
    margin: 0 5px;
    padding: 3px 6px;
    vertical-align: middle;
}


/* sections' headings */
h2 {
    font-size: 3.5em;
}


/* ABOUT section */
div.about {
    background:
            url('../img/cmonster.png')   	/* image */
            left 30px center / auto auto    /* position / size */
            no-repeat                       /* repeat */
            content-box                     /* clip */
            lightgrey;
    height: auto;
    margin-bottom: 0;
}


/* heading for ABOUT section */
.about h2 {
    padding: 30px 0;
}


/* paragraph inside ABOUT section */
.about div {
    text-align: left;
    padding: 0 30px 200px 300px;
    font-size: 1.4em;
}


/* CONTACT section */
div.contact {
    background-color: rgb(38,160,206);
    padding: 20px 0 30px 0;
    color: white;
}


/* paragraph inside CONTACT section */
.contact div {
    font-size: 1.5em;
}



@media only screen and (min-width: 1024px) {

    /* cookies' containers are redesigned to new grids 2x4 */
    div.cookies:nth-child(odd) {
        display: grid;
        grid-template-columns: auto 350px;
        grid-template-rows: 25% 25% 25% 25%;
        width: 100%;
        text-align: right;
    }

    div.cookies:nth-child(even) {
        display: grid;
        grid-template-columns: 350px auto;
        grid-template-rows: 25% 25% 25% 25%;
        width: 100%;
        text-align: left;
    }


    /* positions images inside new grid */
    div.cookies:nth-child(odd) > img {
        grid-column: 2;
        grid-row: 1 / span 4;
    }

    div.cookies:nth-child(even) > img {
        grid-column: 1;
        grid-row: 1 / span 4;
    }


    /* positions cookies' names inside new grid */
    div.cookies:nth-child(odd) > h3 {
        grid-column: 1;
        grid-row: 2;
        margin-right: 30px;
    }

    div.cookies:nth-child(even) > h3 {
        grid-column: 2;
        grid-row: 2;
        margin-left: 30px;
    }


    /* positions cookies' descriptions inside new grid */
    div.cookies:nth-child(odd) > p {
        grid-column: 1;
        grid-row: 3;
        margin-right: 30px;
    }


    div.cookies:nth-child(even) > p {
        grid-column: 2;
        grid-row: 3;
        margin-left: 30px;
    }
}